html
  title #{title}
  body
    h1 <left>#{title}</left>
    br
    br
    br
    control-group
      controls
        input.input-medium(id="username", type="text", name="User", placeholder="Username")
        input.input-medium(id="password", type="password", name="Password", placeholder="Password")
      br
      form-actions
        submit.btn
          btn-primary Login
      br
      form-actions
        submit.btn
          btn-primary Signup
