html
	title #{title}
	body
		#topbar(class="navbar navbar-inverse navbar-fixed-top")
			.navbar-inner
				span(class="logo-small") QontaQt
		h4 Name: #{id}
		h4 Profile: #{profiletype}
		br
		br
		h3 Configure Services
		control-group
			control-label Twitter : 
			controls
				input.input-medium(id="twitterHandle", type="text", name="twitterUser", placeholder="@twitterHandle")
		br
		control-group
			control-label StackOverFlow : 
			controls
				input.input-medium(id="stackUsername", type="text", name="stackUser", placeholder="Username")
		br
		control-group
			control-label Quora : 
			controls
				input.input-medium(id="quoraUsername", type="text", name="quoraUser", placeholder="Username")
		br
		control-group
			control-label LinkedIn : 
			controls
				input.input-medium(id="linkedinUsername", type="text", name="linkedinUser", placeholder="Username")
			br
			form-actions
				submit.btn
					btn-primary Submit

