html
	title #{title}
	body
		h4 Name: #{id}
		h4 Profile: #{profiletype}
		br
		br
		h3 Configure Services
		h4 Twitter
		control-group
			controls
				input.input-medium(id="username", type="text", name="User", placeholder="Username")
				input.input-medium(id="password", type="password", name="Password", placeholder="Password")
			form-actions
				submit.btn
					btn-primary Login
		h4 StackOverFlow
		control-group
			controls
				input.input-medium(id="username", type="text", name="User", placeholder="Username")
				input.input-medium(id="password", type="password", name="Password", placeholder="Password")
			form-actions
				submit.btn
					btn-primary Login
		h4 Quora
		control-group
			controls
				input.input-medium(id="username", type="text", name="User", placeholder="Username")
				input.input-medium(id="password", type="password", name="Password", placeholder="Password")	
			form-actions
				submit.btn
					btn-primary Login
		h4 LinkedIn
		control-group
			controls
				input.input-medium(id="username", type="text", name="User", placeholder="Username")
				input.input-medium(id="password", type="password", name="Password", placeholder="Password")
			form-actions
				submit.btn
					btn-primary Login

