html
	title #{title}
	body
		h4 Name: #{id}
		h4 Profile: #{profiletype}
	case services
		when 1: h4 Twitter defined
		when 2: h4 StackOverFlow defined
		when 3: h4 Quora defined
		default: h4 Nothing defined


