body {
    padding: 16px;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #ccc;
}
a {
    color: #0069ff;
}
#container {
    width: 300px;
    margin: 0 auto;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 1px 3px 3px #333;
    border-radius: 5px;
}
#logo {
    text-align: absleft;
}
#display {
    margin: 0px 0 50px;
}
#userbar {
    margin-bottom: 10px;
}