body{
    margin:0;
    padding:65px;
    font-size:14px;
    line-height:20px;
    color:#302b1f;
    background-color:#faf8f2;
}

.beckon-logo-small{
    width:147px;
    height:20px;
    line-height:20px;
}


a {
    color: #0069ff;
}
#container {
    width: 300px;
    margin: 0 auto;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 1px 3px 3px #333;
    border-radius: 5px;
}
#logo {
    text-align: absleft;
}
#display {
    margin: 0px 0 50px;
}
#userbar {
    margin-bottom: 10px;
}